.App {
  text-align: center;
}
html {margin: 0; padding: 0; scroll-behavior: smooth;}
body {
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer{
  max-width: 90%;
  margin: 0 auto;
}

.appHeader {
  box-shadow: 1px 1px 1px 1px #ccc;
  position: sticky;
  top: 0;
  z-index: 9;
  background: white;
  padding: 10px 0;
}

.appHeader h3 {
  margin: 0;
}

.loaderContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #ccc transparent #ccc transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.gridRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}


.catFeeds{
  margin-top: 40px;
}

.gridItem {
  height: 220px;
  width: 200px;
  position: relative;
  margin: 10px;
  box-sizing: border-box;
  border: 0.5px solid #ccc;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #ccc
}
.gridItem:hover{
  border: 1px solid black;

}
.gridItem a{
  color: black;
  text-decoration: none;
}

.gridItemImage {
  height: 180px;
}

.catImage{
  object-fit: cover;
  height: 100%;
  width: 100%;
}



.paginationContainer {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.paginationContainer .paginationItem {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
}
.paginationContainer .paginationItem.dots:hover {
  background-color: transparent;
  cursor: default;
}
.paginationContainer .paginationItem:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.paginationContainer .paginationItem.selected {
  background-color: rgba(0, 0, 0, 0.08);
}
.paginationContainer .paginationItem .arrow::before {
  position: relative;
  content: '';
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}
.paginationContainer .paginationItem .arrow.left {
  transform: rotate(-135deg) translate(-50%);
}
.paginationContainer .paginationItem .arrow.right {
  transform: rotate(45deg);
}
.paginationContainer .paginationItem.disabled {
  pointer-events: none;
}
.paginationContainer .paginationItem.disabled .arrow::before {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}
.paginationContainer .paginationItem.disabled:hover {
  background-color: transparent;
  cursor: default;
}



.catBreedDetails{
  text-align: left;
  padding: 40px 20% 0;
}

.catBreedDetails .header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.catBreedDetails .header h3{
  margin: 0; 
}

.catBreedDetails .header button{
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #838181;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

.catBreedDetails .header button:hover{
  background-color: #494848;
}

.columnGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.columnGrid > * {
  padding: 10px;
  border: 0.5px solid;
}